<div class="card">
  <div class="card-header">
    <%= link_to "Shoe ##{shoe.id}", shoe, class: "h3" %>
  </div>

  <div class="card-body">
    <dl>
     <dt>
        Owner Id
      </dt>
      <dd>
        <%= shoe.owner_id %>
      </dd>
      
      <dt>
        Title
      </dt>
      <dd>
        <%= shoe.title %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= shoe.description %>
      </dd>

      <dt>
        Shoe type
      </dt>
      <dd>
        <%= shoe.shoe_type %>
      </dd>

      <dt>
        Size
      </dt>
      <dd>
        <%= shoe.size %>
      </dd>
      

      <dt>
        Deadstock 
      </dt>
      <dd>
        <%= shoe.deadstock %>
      </dd>

      <dt>
        Authentic
      </dt>
      <dd>
        <%= shoe.authentic %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <div class="d-grid">
          <%= link_to edit_shoe_path(shoe), class: "btn btn-warning btn-lg btn-block" do %>
            <span><i class="fa-regular fa-pen-to-square"></i>
          <% end %>
        </div>
      </div>
      <div class="col">
        <div class="d-grid">
          <%= link_to shoe, method: :delete, class: "btn btn-danger btn-lg btn-block" do %>
            <i class="fa-regular fa-trash-can"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer">
    Last updated <%= time_ago_in_words(shoe.updated_at) %> ago
  </div>
</div>
